@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/DidactGothic-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
body {
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Roboto';
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
